In [1]:
import os
import os.path as osp
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
os.environ['JAVA_HOME'] = osp.join(os.environ['CONDA_PREFIX'].replace('ukb-analysis', 'pyspark'), 'jre')
spark = SparkSession.builder.getOrCreate()

### Single File EDA

In [4]:
import pandas as pd

#### Release 20022712

In [2]:
!wget -P /tmp/ ftp://ftp.ebi.ac.uk/pub/databases/opentargets/genetics/20022712/v2d/part-00000-93eaa27c-13dc-436a-971b-c4dde2d9fc2d-c000.json

--2020-08-20 06:15:18--  ftp://ftp.ebi.ac.uk/pub/databases/opentargets/genetics/190505/v2d/part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json
           => ‘/tmp/part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json’
Resolving ftp.ebi.ac.uk (ftp.ebi.ac.uk)... 193.62.197.74
Connecting to ftp.ebi.ac.uk (ftp.ebi.ac.uk)|193.62.197.74|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/databases/opentargets/genetics/190505/v2d ... done.
==> SIZE part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json ... 28067347
==> PASV ... done.    ==> RETR part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json ... done.
Length: 28067347 (27M) (unauthoritative)

part-00000-ed5e8444 100%[===================>]  26.77M  17.5MB/s    in 1.5s

2020-08-20 06:15:20 (17.5 MB/s) - ‘/tmp/part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json’ saved [28067347]

In [11]:
df = pd.read_json('/tmp/part-00000-93eaa27c-13dc-436a-971b-c4dde2d9fc2d-c000.json', lines=True)
df.head()

,study_id,lead_chrom,lead_pos,lead_ref,lead_alt,direction,beta,beta_ci_lower,beta_ci_upper,pval_mantissa,...,EUR_1000G_prop,SAS_1000G_prop,odds_ratio,oddsr_ci_lower,oddsr_ci_upper,ancestry_replication,n_replication,n_cases,log10_ABF,posterior_prob
0,GCST006585_850,1,1008088,T,C,+,0.73600,0.530930,0.941070,2.00000,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NEALE2_20003_1140867876,1,1010747,GT,G,-,NaN,NaN,NaN,4.02417,...,NaN,NaN,0.346424,0.237266,0.505801,[],0.0,491.0,4.345352,0.002260
2,NEALE2_20002_1226,1,1370113,A,G,+,NaN,NaN,NaN,2.00827,...,1.0,0.0,1.086195,1.057237,1.115946,[],0.0,17574.0,11.827701,0.003179
3,NEALE2_3064_raw,1,1389827,C,T,-,-2.30318,-2.938984,-1.667376,1.25000,...,1.0,0.0,NaN,NaN,NaN,[],0.0,NaN,NaN,NaN
4,GCST004131,1,1280044,T,C,+,NaN,NaN,NaN,2.75200,...,1.0,0.0,1.094940,1.060512,1.130486,NaN,NaN,25042.0,12.068388,0.035794

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57298 entries, 0 to 57297
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   study_id              57298 non-null  object
 1   lead_chrom            57298 non-null  object
 2   lead_pos              57298 non-null  int64
 3   lead_ref              57298 non-null  object
 4   lead_alt              57298 non-null  object
 5   direction             45204 non-null  object
 6   beta                  37756 non-null  float64
 7   beta_ci_lower         37756 non-null  float64
 8   beta_ci_upper         37756 non-null  float64
 9   pval_mantissa         57298 non-null  float64
 10  pval_exponent         57298 non-null  int64
 11  pval                  57298 non-null  float64
 12  pmid                  57293 non-null  object
 13  pub_date              57298 non-null  object
 14  pub_journal           57298 non-null  object
 15  pub_title             57298 non-null  object
 16  pub_author            57298 non-null  object
 17  trait_reported        57298 non-null  object
 18  ancestry_initial      57298 non-null  object
 19  n_initial             57298 non-null  int64
 20  trait_category        57298 non-null  object
 21  num_assoc_loci        57298 non-null  int64
 22  has_sumstats          57298 non-null  bool
 23  trait_efos            57298 non-null  object
 24  tag_chrom             57298 non-null  object
 25  tag_pos               57298 non-null  int64
 26  tag_ref               57298 non-null  object
 27  tag_alt               57298 non-null  object
 28  overall_r2            52810 non-null  float64
 29  AFR_1000G_prop        52810 non-null  float64
 30  AMR_1000G_prop        52810 non-null  float64
 31  EAS_1000G_prop        52810 non-null  float64
 32  EUR_1000G_prop        52810 non-null  float64
 33  SAS_1000G_prop        52810 non-null  float64
 34  odds_ratio            7448 non-null   float64
 35  oddsr_ci_lower        7448 non-null   float64
 36  oddsr_ci_upper        7448 non-null   float64
 37  ancestry_replication  33082 non-null  object
 38  n_replication         33082 non-null  float64
 39  n_cases               9722 non-null   float64
 40  log10_ABF             12518 non-null  float64
 41  posterior_prob        12518 non-null  float64
dtypes: bool(1), float64(18), int64(5), object(18)
memory usage: 18.0+ MB

#### Release 190505

In [ ]:
!wget -P /tmp/ ftp://ftp.ebi.ac.uk/pub/databases/opentargets/genetics/190505/v2d/part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json

In [13]:
df = pd.read_json('/tmp/part-00000-ed5e8444-cdf6-4706-9ce5-d6bce4603fcb-c000.json', lines=True)
df.head()

,study_id,lead_chrom,lead_pos,lead_ref,lead_alt,direction,beta,beta_ci_lower,beta_ci_upper,pval_mantissa,...,EUR_1000G_prop,SAS_1000G_prop,odds_ratio,oddsr_ci_lower,oddsr_ci_upper,ancestry_replication,n_replication,n_cases,log10_ABF,posterior_prob
0,GCST006585_850,1,1008088,T,C,+,0.736000,0.530930,0.941070,2.00000,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NEALE2_20003_1140867876,1,1010747,GT,G,-,NaN,NaN,NaN,4.02417,...,NaN,NaN,0.346424,0.237266,0.505801,[],0.0,491.0,5.369368,0.006293
2,GCST006585_138,1,1227055,C,A,-,-0.271000,-0.352458,-0.189542,7.00000,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NEALE2_21001_raw,1,1851414,GA,G,+,0.066347,0.043588,0.089105,1.10563,...,NaN,NaN,NaN,NaN,NaN,[],0.0,NaN,11.003126,0.001873
4,NEALE2_23116_raw,1,2806649,C,A,-,-0.020629,-0.027771,-0.013487,1.50401,...,NaN,NaN,NaN,NaN,NaN,[],0.0,NaN,8.056794,0.003846

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32409 entries, 0 to 32408
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   study_id              32409 non-null  object
 1   lead_chrom            32409 non-null  object
 2   lead_pos              32409 non-null  int64
 3   lead_ref              32409 non-null  object
 4   lead_alt              32409 non-null  object
 5   direction             26443 non-null  object
 6   beta                  21851 non-null  float64
 7   beta_ci_lower         21851 non-null  float64
 8   beta_ci_upper         21851 non-null  float64
 9   pval_mantissa         32409 non-null  float64
 10  pval_exponent         32409 non-null  int64
 11  pval                  32409 non-null  float64
 12  pmid                  32402 non-null  object
 13  pub_date              32409 non-null  object
 14  pub_journal           32409 non-null  object
 15  pub_title             32409 non-null  object
 16  pub_author            32409 non-null  object
 17  trait_reported        32409 non-null  object
 18  trait_efos            32409 non-null  object
 19  ancestry_initial      32409 non-null  object
 20  n_initial             32409 non-null  int64
 21  trait_category        32409 non-null  object
 22  num_assoc_loci        32409 non-null  int64
 23  has_sumstats          32409 non-null  bool
 24  tag_chrom             32409 non-null  object
 25  tag_pos               32409 non-null  int64
 26  tag_ref               32409 non-null  object
 27  tag_alt               32409 non-null  object
 28  overall_r2            26902 non-null  float64
 29  AFR_1000G_prop        26902 non-null  float64
 30  AMR_1000G_prop        26902 non-null  float64
 31  EAS_1000G_prop        26902 non-null  float64
 32  EUR_1000G_prop        26902 non-null  float64
 33  SAS_1000G_prop        26902 non-null  float64
 34  odds_ratio            4592 non-null   float64
 35  oddsr_ci_lower        4592 non-null   float64
 36  oddsr_ci_upper        4592 non-null   float64
 37  ancestry_replication  20139 non-null  object
 38  n_replication         20139 non-null  float64
 39  n_cases               5713 non-null   float64
 40  log10_ABF             11694 non-null  float64
 41  posterior_prob        11694 non-null  float64
dtypes: bool(1), float64(18), int64(5), object(18)
memory usage: 10.2+ MB

#### Release 190504

In [10]:
!wget -P /tmp/ ftp://ftp.ebi.ac.uk/pub/databases/opentargets/genetics/190504/v2d/part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json

--2020-08-20 06:22:07--  ftp://ftp.ebi.ac.uk/pub/databases/opentargets/genetics/190504/v2d/part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json
           => ‘/tmp/part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json’
Resolving ftp.ebi.ac.uk (ftp.ebi.ac.uk)... 193.62.197.74
Connecting to ftp.ebi.ac.uk (ftp.ebi.ac.uk)|193.62.197.74|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/databases/opentargets/genetics/190504/v2d ... done.
==> SIZE part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json ... 24777430
==> PASV ... done.    ==> RETR part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json ... done.
Length: 24777430 (24M) (unauthoritative)

part-00000-5fd0c32d 100%[===================>]  23.63M  16.5MB/s    in 1.4s

2020-08-20 06:22:10 (16.5 MB/s) - ‘/tmp/part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json’ saved [24777430]

In [15]:
df = pd.read_json('/tmp/part-00000-5fd0c32d-d124-4b78-9116-ff45c77577ce-c000.json', lines=True)
df.head()

,study_id,lead_chrom,lead_pos,lead_ref,lead_alt,direction,odds_ratio,oddsr_ci_lower,oddsr_ci_upper,pval_mantissa,...,tag_chrom,tag_pos,tag_ref,tag_alt,log10_ABF,posterior_prob,beta,beta_ci_lower,beta_ci_upper,overall_r2
0,NEALE2_20003_1140867876,1,1010747,GT,G,-,0.346424,0.237266,0.505801,4.02417,...,1,991051,A,T,5.369368,0.006293,NaN,NaN,NaN,NaN
1,GCST006585_850,1,1008088,T,C,+,NaN,NaN,NaN,2.00000,...,1,991051,A,T,NaN,NaN,0.736000,0.530930,0.941070,0.825908
2,GCST006585_138,1,1227055,C,A,-,NaN,NaN,NaN,7.00000,...,1,1222304,C,T,NaN,NaN,-0.271000,-0.352458,-0.189542,0.987722
3,NEALE2_23116_raw,1,2806649,C,A,-,NaN,NaN,NaN,1.50401,...,1,1903617,C,T,8.056794,0.003846,-0.020629,-0.027771,-0.013487,NaN
4,NEALE2_21002_raw,1,1934937,G,A,+,NaN,NaN,NaN,2.20476,...,1,1903617,C,T,9.664198,0.002373,0.193908,0.125983,0.261833,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57298 entries, 0 to 57297
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   study_id              57298 non-null  object
 1   lead_chrom            57298 non-null  object
 2   lead_pos              57298 non-null  int64
 3   lead_ref              57298 non-null  object
 4   lead_alt              57298 non-null  object
 5   direction             45204 non-null  object
 6   beta                  37756 non-null  float64
 7   beta_ci_lower         37756 non-null  float64
 8   beta_ci_upper         37756 non-null  float64
 9   pval_mantissa         57298 non-null  float64
 10  pval_exponent         57298 non-null  int64
 11  pval                  57298 non-null  float64
 12  pmid                  57293 non-null  object
 13  pub_date              57298 non-null  object
 14  pub_journal           57298 non-null  object
 15  pub_title             57298 non-null  object
 16  pub_author            57298 non-null  object
 17  trait_reported        57298 non-null  object
 18  ancestry_initial      57298 non-null  object
 19  n_initial             57298 non-null  int64
 20  trait_category        57298 non-null  object
 21  num_assoc_loci        57298 non-null  int64
 22  has_sumstats          57298 non-null  bool
 23  trait_efos            57298 non-null  object
 24  tag_chrom             57298 non-null  object
 25  tag_pos               57298 non-null  int64
 26  tag_ref               57298 non-null  object
 27  tag_alt               57298 non-null  object
 28  overall_r2            52810 non-null  float64
 29  AFR_1000G_prop        52810 non-null  float64
 30  AMR_1000G_prop        52810 non-null  float64
 31  EAS_1000G_prop        52810 non-null  float64
 32  EUR_1000G_prop        52810 non-null  float64
 33  SAS_1000G_prop        52810 non-null  float64
 34  odds_ratio            7448 non-null   float64
 35  oddsr_ci_lower        7448 non-null   float64
 36  oddsr_ci_upper        7448 non-null   float64
 37  ancestry_replication  33082 non-null  object
 38  n_replication         33082 non-null  float64
 39  n_cases               9722 non-null   float64
 40  log10_ABF             12518 non-null  float64
 41  posterior_prob        12518 non-null  float64
dtypes: bool(1), float64(18), int64(5), object(18)
memory usage: 18.0+ MB

In [8]:
df[df['study_id'].str.contains('NEALE2')].iloc[0]

study_id                                        NEALE2_20003_1140867876
lead_chrom                                                            1
lead_pos                                                        1010747
lead_ref                                                             GT
lead_alt                                                              G
direction                                                             -
beta                                                                NaN
beta_ci_lower                                                       NaN
beta_ci_upper                                                       NaN
pval_mantissa                                                   4.02417
pval_exponent                                                        -8
pval                                                        4.02417e-08
pmid
pub_date                                                     2018-08-01
pub_journal
pub_title
pub_author                                                 UKB Neale v2
trait_reported          Prozac 20mg capsule | treatment/medication code
ancestry_initial                                      [European=361141]
n_initial                                                        361141
trait_category                                     Drug use measurement
num_assoc_loci                                                        6
has_sumstats                                                       True
trait_efos                                                [EFO_0007010]
tag_chrom                                                             1
tag_pos                                                          978812
tag_ref                                                               G
tag_alt                                                               C
overall_r2                                                          NaN
AFR_1000G_prop                                                      NaN
AMR_1000G_prop                                                      NaN
EAS_1000G_prop                                                      NaN
EUR_1000G_prop                                                      NaN
SAS_1000G_prop                                                      NaN
odds_ratio                                                     0.346424
oddsr_ci_lower                                                 0.237266
oddsr_ci_upper                                                 0.505801
ancestry_replication                                                 []
n_replication                                                         0
n_cases                                                             491
log10_ABF                                                       4.34535
posterior_prob                                               0.00226026
Name: 1, dtype: object