In [1]:
import os
import pandas as pd
import os.path as osp
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
os.environ['JAVA_HOME'] = osp.join(os.environ['CONDA_PREFIX'].replace('ukb-analysis', 'pyspark'), 'jre')
spark = SparkSession.builder.getOrCreate()

In [63]:
df_sqc.columns

['eid',
 'x22000_0_0',
 'x22007_0_0',
 'x22008_0_0',
 'x22001_0_0',
 'x22021_0_0',
 'x22006_0_0',
 'x22019_0_0',
 'x22027_0_0',
 'x22003_0_0',
 'x22004_0_0',
 'x22005_0_0',
 'x22020_0_0',
 'x22022_0_0',
 'x22023_0_0',
 'x22025_0_0',
 'x22026_0_0',
 'x22024_0_0',
 'x22028_0_0',
 'x22029_0_0',
 'x22030_0_0']

In [61]:
pd.testing.assert_series_equal(pd.Series(['x', 'y']), pd.Series(['x', 'z']))

AssertionError: Series are different

Series values are different (50.0 %)
[index]: [0, 1]
[left]:  [x, y]
[right]: [x, z]

In [6]:
df = spark.read.parquet('/home/eczech/repos/ukb-gwas-pipeline-nealelab/rs-ukb/prep-data/main/ukb.parquet')
df.columns[:10]

['eid',
 'x3_0_0',
 'x3_1_0',
 'x3_2_0',
 'x3_3_0',
 'x4_0_0',
 'x4_1_0',
 'x4_2_0',
 'x4_3_0',
 'x5_0_0']

In [8]:
%%time
df.count()

CPU times: user 3.89 ms, sys: 5.09 ms, total: 8.98 ms
Wall time: 34.8 s

502505

In [25]:
# Field ids from http://biobank.ctsu.ox.ac.uk/crystal/label.cgi?id=100313
cols = [
    "eid",
    "x22000_0_0", # Genotype measurement batch
    "x22007_0_0", # Genotype measurement plate
    "x22008_0_0", # Genotype measurement well
    "x22001_0_0", # Genetic sex
    "x22021_0_0", # Genetic kinship to other participants
    "x22006_0_0", # Genetic ethnic grouping
    "x22019_0_0", # Sex chromosome aneuploidy
    "x22027_0_0", # Outliers for heterozygosity or missing rate
    "x22003_0_0", # Heterozygosity
    "x22004_0_0", # Heterozygosity, PCA corrected
    "x22005_0_0", # Missingness
    # "x22009_0_0", # Genetic principal components --> Absent for some reaason
    "x22020_0_0", # Used in genetic principal components
    "x22022_0_0", # Sex inference X probe-intensity
    "x22023_0_0", # Sex inference Y probe-intensity
    "x22025_0_0", # Affymetrix quality control metric "Cluster.CR"
    "x22026_0_0", # Affymetrix quality control metric "dQC"
    "x22024_0_0", # DNA concentration
    "x22028_0_0", # Use in phasing Chromosomes 1-22
    "x22029_0_0", # Use in phasing Chromosome X
    "x22030_0_0", # Use in phasing Chromosome XY
    #"x22002_0_0", # CEL files --> Absent for some reason
]
df_sqc = df[cols]
assert df_sqc.columns == cols
df_sqc.printSchema()

root
 |-- eid: integer (nullable = true)
 |-- x22000_0_0: string (nullable = true)
 |-- x22007_0_0: string (nullable = true)
 |-- x22008_0_0: string (nullable = true)
 |-- x22001_0_0: string (nullable = true)
 |-- x22021_0_0: string (nullable = true)
 |-- x22006_0_0: string (nullable = true)
 |-- x22019_0_0: string (nullable = true)
 |-- x22027_0_0: string (nullable = true)
 |-- x22003_0_0: string (nullable = true)
 |-- x22004_0_0: string (nullable = true)
 |-- x22005_0_0: string (nullable = true)
 |-- x22020_0_0: string (nullable = true)
 |-- x22022_0_0: string (nullable = true)
 |-- x22023_0_0: string (nullable = true)
 |-- x22025_0_0: string (nullable = true)
 |-- x22026_0_0: string (nullable = true)
 |-- x22024_0_0: string (nullable = true)
 |-- x22028_0_0: string (nullable = true)
 |-- x22029_0_0: string (nullable = true)
 |-- x22030_0_0: string (nullable = true)

In [42]:
pdf_sqc = df_sqc.toPandas()
pdf_sqc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502505 entries, 0 to 502504
Data columns (total 21 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   eid         502505 non-null  Int32
 1   x22000_0_0  488263 non-null  string
 2   x22007_0_0  488263 non-null  string
 3   x22008_0_0  488263 non-null  string
 4   x22001_0_0  488263 non-null  string
 5   x22021_0_0  488263 non-null  string
 6   x22006_0_0  409615 non-null  string
 7   x22019_0_0  651 non-null     string
 8   x22027_0_0  968 non-null     string
 9   x22003_0_0  488263 non-null  string
 10  x22004_0_0  488263 non-null  string
 11  x22005_0_0  488263 non-null  string
 12  x22020_0_0  407127 non-null  string
 13  x22022_0_0  488263 non-null  string
 14  x22023_0_0  488263 non-null  string
 15  x22025_0_0  488263 non-null  string
 16  x22026_0_0  488263 non-null  string
 17  x22024_0_0  488263 non-null  string
 18  x22028_0_0  488263 non-null  string
 19  x22029_0_0  488263 non-null  string
 20  x22030_0_0  488263 non-null  string
dtypes: Int32(1), string(20)
memory usage: 79.1 MB

In [45]:
pdf_sqc.head(3)

,eid,x22000_0_0,x22007_0_0,x22008_0_0,x22001_0_0,x22021_0_0,x22006_0_0,x22019_0_0,x22027_0_0,x22003_0_0,...,x22005_0_0,x22020_0_0,x22022_0_0,x22023_0_0,x22025_0_0,x22026_0_0,x22024_0_0,x22028_0_0,x22029_0_0,x22030_0_0
0,4219054,38,SMP4_0012173A,F10,1,0,1,<NA>,<NA>,0.189547,...,0.003946,1,592.7,671.8200000000001,99.523,0.97,24.82,1,1,1
1,4219069,68,SMP4_0012961A,G12,1,0,1,<NA>,<NA>,0.188485,...,0.01233,1,357.16,406.66,98.711,0.97,31.27,1,1,1
2,4219076,78,SMP4_0016227A,E04,1,1,1,<NA>,<NA>,0.186575,...,0.007893000000000001,1,486.65,423.79,98.995,0.98,47.48,1,1,1

In [49]:
pdf_samp = pd.read_csv('/home/eczech/repos/ukb-gwas-pipeline-nealelab/rs-ukb/pipe-data/external/nealelab_v3_20180731/european_samples.tsv', sep='\t')
pdf_samp.head()

           plate well
0  SMP4_0011041A  G06
1  SMP4_0012545A  F08
2  SMP4_0016507A  H11
3  SMP4_0011613A  E07
4  SMP4_0012223B  A01

In [56]:
cols = {
    "x22007_0_0": 'plate',
    "x22008_0_0": 'well'
}
pdf_ms = pd.merge(
    pdf_samp.rename(columns={'plate_name': 'plate'}),
    pdf_sqc.rename(columns=cols)[['eid', 'plate', 'well']],
    how='outer',
    indicator='status'
)
pdf_ms['status'] = pdf_ms['status'].map(dict(both='both', left_only='current_only', right_only='reference_only'))
pdf_ms.head()

           plate well      eid status
0  SMP4_0011041A  G06  2161076   both
1  SMP4_0012545A  F08  2439038   both
2  SMP4_0016507A  H11  3322194   both
3  SMP4_0011613A  E07  5434719   both
4  SMP4_0012223B  A01  4395114   both

In [57]:
pdf_ms['status'].value_counts()

both              358010
reference_only    144499
current_only        3551
Name: status, dtype: int64